# Task 6.1 US Police Shootings

In this script the following will be discussed: 

1. Checking Dataset
2. Dropping Columns
3. Missing Data
4. Duplicate Values
5. Column Derivations
6. Changing Variables to Numerical Values
7. Exporting Dataframe

In [1]:
# Importing Libraries 

import pandas as pd
import numpy as np
import os

In [2]:
path = r'/Users/tsique/Desktop/CareerFoundry - Data Analytics/3 Immersion/Final Project'

In [3]:
# Importing dataframe 'US Police Shootings'

df_shoot = pd.read_csv(os.path.join(path, 'Data', 'Original Data', 'US_police_shootings.csv'), index_col = False)

## 1. Checking Dataset

In [4]:
# Checking first and last 5 rows of dataset 

df_shoot

,id,name,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera,longitude,latitude,is_geocoding_exact
0,1,Tim Elliot,2015-01-02,shot,gun,53.0,M,A,Shelton,WA,True,attack,Not fleeing,False,-123.122,47.247,True
1,2,Lewis Lee Lembke,2015-01-02,shot,gun,47.0,M,W,Aloha,OR,False,attack,Not fleeing,False,-122.892,45.487,True
2,3,John Paul Quintero,2015-01-03,shot and Tasered,unarmed,23.0,M,H,Wichita,KS,False,other,Not fleeing,False,-97.281,37.695,True
3,4,Matthew Hoffman,2015-01-04,shot,toy weapon,32.0,M,W,San Francisco,CA,True,attack,Not fleeing,False,-122.422,37.763,True
4,5,Michael Rodriguez,2015-01-04,shot,nail gun,39.0,M,H,Evans,CO,False,attack,Not fleeing,False,-104.692,40.384,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7724,7725,NaN,2022-09-07,shot,screwdriver,NaN,M,NaN,Flagstaff,AZ,False,other,Foot,False,-111.584,35.224,True
7725,7726,NaN,2022-09-07,shot,gun,NaN,M,W,Springville,AL,False,attack,Car,False,-86.472,33.775,True
7726,7727,NaN,2022-09-07,shot,knife,61.0,M,B,St. Louis,MO,False,other,Not fleeing,False,-90.290,38.668,True
7727,7728,Tyler Michael Gardner,2022-09-07,shot,gun,27.0,M,NaN,Washington County,TN,False,attack,Other,False,-82.539,36.309,True
7728,7729,Reginald Lamont Grant,2022-09-07,shot,gun,30.0,M,NaN,Columbus,GA,False,attack,Foot,False,NaN,NaN,True

In [5]:
# Checking basic stats 

df_shoot.describe()

                id          age    longitude     latitude
count  7729.000000  7247.000000  6892.000000  6892.000000
mean   3865.000000    37.178971   -97.059875    36.682999
std    2231.314448    12.966191    16.595557     5.402749
min       1.000000     2.000000  -160.007000    19.498000
25%    1933.000000    27.000000  -112.039000    33.480000
50%    3865.000000    35.000000   -94.226000    36.104500
75%    5797.000000    45.000000   -83.073250    40.032250
max    7729.000000    92.000000   -67.867000    71.301000

In [6]:
# Checking datatype of each column 

df_shoot.dtypes

id                           int64
name                        object
date                        object
manner_of_death             object
armed                       object
age                        float64
gender                      object
race                        object
city                        object
state                       object
signs_of_mental_illness       bool
threat_level                object
flee                        object
body_camera                   bool
longitude                  float64
latitude                   float64
is_geocoding_exact            bool
dtype: object

## 2. Dropping Columns

In [7]:
# Dropping name, longitude, latitude, and is_geocoding_exact columns
# Creating it with a new dataframe in case any dropped data is wanted for later analysis

df_shoot_2 = df_shoot.drop(columns = ['name', 'longitude', 'latitude', 'is_geocoding_exact'])

In [8]:
# Checking that columns were successfully dropped

df_shoot_2

,id,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera
0,1,2015-01-02,shot,gun,53.0,M,A,Shelton,WA,True,attack,Not fleeing,False
1,2,2015-01-02,shot,gun,47.0,M,W,Aloha,OR,False,attack,Not fleeing,False
2,3,2015-01-03,shot and Tasered,unarmed,23.0,M,H,Wichita,KS,False,other,Not fleeing,False
3,4,2015-01-04,shot,toy weapon,32.0,M,W,San Francisco,CA,True,attack,Not fleeing,False
4,5,2015-01-04,shot,nail gun,39.0,M,H,Evans,CO,False,attack,Not fleeing,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7724,7725,2022-09-07,shot,screwdriver,NaN,M,NaN,Flagstaff,AZ,False,other,Foot,False
7725,7726,2022-09-07,shot,gun,NaN,M,W,Springville,AL,False,attack,Car,False
7726,7727,2022-09-07,shot,knife,61.0,M,B,St. Louis,MO,False,other,Not fleeing,False
7727,7728,2022-09-07,shot,gun,27.0,M,NaN,Washington County,TN,False,attack,Other,False
7728,7729,2022-09-07,shot,gun,30.0,M,NaN,Columbus,GA,False,attack,Foot,False

## 3. Missing Data

In [9]:
# Checking df_shoot for missing values 

df_shoot_2.isnull().sum()

id                            0
date                          0
manner_of_death               0
armed                       209
age                         482
gender                       20
race                       1460
city                          0
state                         0
signs_of_mental_illness       0
threat_level                  0
flee                        875
body_camera                   0
dtype: int64

In [10]:
# Finding percentage of null_values per column 

null_percent = df_shoot_2.isnull().sum()*100/len(df_shoot)

In [11]:
# Percentage of missing values

null_percent

id                          0.000000
date                        0.000000
manner_of_death             0.000000
armed                       2.704101
age                         6.236253
gender                      0.258766
race                       18.889895
city                        0.000000
state                       0.000000
signs_of_mental_illness     0.000000
threat_level                0.000000
flee                       11.320999
body_camera                 0.000000
dtype: float64

In [ ]:
# Due to the information provided, the missing values will not be filled in with averages - cannot fill race for someone
# Due to high percentage of missing values, they cannot be deleted.

## 4. Duplicate Values

In [12]:
# Creating subset dataframe with duplicates

df_dups = df_shoot_2[df_shoot_2.duplicated()]

In [13]:
# Checking for duplicates

df_dups

Empty DataFrame
Columns: [id, date, manner_of_death, armed, age, gender, race, city, state, signs_of_mental_illness, threat_level, flee, body_camera]
Index: []

In [ ]:
# No duplicates are in the dataframe

## 5. Column Derivations

In [14]:
# Creating columns - year, month, day - from date column

df_shoot_2['date'] = pd.to_datetime(df_shoot_2['date'])
df_shoot_2['year'] = df_shoot_2['date'].dt.year
df_shoot_2['month'] = df_shoot_2['date'].dt.month
df_shoot_2['day'] = df_shoot_2['date'].dt.day

In [15]:
# Checking that year, month, and day were successfully created

df_shoot_2

,id,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera,year,month,day
0,1,2015-01-02,shot,gun,53.0,M,A,Shelton,WA,True,attack,Not fleeing,False,2015,1,2
1,2,2015-01-02,shot,gun,47.0,M,W,Aloha,OR,False,attack,Not fleeing,False,2015,1,2
2,3,2015-01-03,shot and Tasered,unarmed,23.0,M,H,Wichita,KS,False,other,Not fleeing,False,2015,1,3
3,4,2015-01-04,shot,toy weapon,32.0,M,W,San Francisco,CA,True,attack,Not fleeing,False,2015,1,4
4,5,2015-01-04,shot,nail gun,39.0,M,H,Evans,CO,False,attack,Not fleeing,False,2015,1,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7724,7725,2022-09-07,shot,screwdriver,NaN,M,NaN,Flagstaff,AZ,False,other,Foot,False,2022,9,7
7725,7726,2022-09-07,shot,gun,NaN,M,W,Springville,AL,False,attack,Car,False,2022,9,7
7726,7727,2022-09-07,shot,knife,61.0,M,B,St. Louis,MO,False,other,Not fleeing,False,2022,9,7
7727,7728,2022-09-07,shot,gun,27.0,M,NaN,Washington County,TN,False,attack,Other,False,2022,9,7
7728,7729,2022-09-07,shot,gun,30.0,M,NaN,Columbus,GA,False,attack,Foot,False,2022,9,7

In [16]:
# Checking the values for threat_level

df_shoot_2['threat_level'].unique()

array(['attack', 'other', 'undetermined'], dtype=object)

In [19]:
# Creating threat_level_2 to put threat_level in a numerical value

df_shoot_2.loc[df_shoot_2['threat_level'] == 'undetermined', 'threat_level_2'] = 0
df_shoot_2.loc[df_shoot_2['threat_level'] == 'other', 'threat_level_2'] = 1
df_shoot_2.loc[df_shoot_2 ['threat_level'] == 'attack', 'threat_level_2'] = 2

In [20]:
df_shoot_2

,id,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera,year,month,day,threat_level_2
0,1,2015-01-02,shot,gun,53.0,M,A,Shelton,WA,True,attack,Not fleeing,False,2015,1,2,2.0
1,2,2015-01-02,shot,gun,47.0,M,W,Aloha,OR,False,attack,Not fleeing,False,2015,1,2,2.0
2,3,2015-01-03,shot and Tasered,unarmed,23.0,M,H,Wichita,KS,False,other,Not fleeing,False,2015,1,3,1.0
3,4,2015-01-04,shot,toy weapon,32.0,M,W,San Francisco,CA,True,attack,Not fleeing,False,2015,1,4,2.0
4,5,2015-01-04,shot,nail gun,39.0,M,H,Evans,CO,False,attack,Not fleeing,False,2015,1,4,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7724,7725,2022-09-07,shot,screwdriver,NaN,M,NaN,Flagstaff,AZ,False,other,Foot,False,2022,9,7,1.0
7725,7726,2022-09-07,shot,gun,NaN,M,W,Springville,AL,False,attack,Car,False,2022,9,7,2.0
7726,7727,2022-09-07,shot,knife,61.0,M,B,St. Louis,MO,False,other,Not fleeing,False,2022,9,7,1.0
7727,7728,2022-09-07,shot,gun,27.0,M,NaN,Washington County,TN,False,attack,Other,False,2022,9,7,2.0
7728,7729,2022-09-07,shot,gun,30.0,M,NaN,Columbus,GA,False,attack,Foot,False,2022,9,7,2.0

In [21]:
# Checking values for armed

df_shoot_2['armed'].unique()

array(['gun', 'unarmed', 'toy weapon', 'nail gun', 'knife', nan, 'shovel',
       'vehicle', 'hammer', 'hatchet', 'sword', 'machete', 'box cutter',
       'undetermined', 'metal object', 'screwdriver', 'lawn mower blade',
       'flagpole', 'guns and explosives', 'cordless drill', 'crossbow',
       'BB gun', 'metal pole', 'Taser', 'metal pipe', 'metal hand tool',
       'blunt object', 'metal stick', 'sharp object', 'meat cleaver',
       'carjack', 'chain', "contractor's level", 'railroad spikes',
       'stapler', 'beer bottle', 'unknown weapon', 'binoculars',
       'pellet gun', 'bean-bag gun', 'baseball bat and fireplace poker',
       'straight edge razor', 'gun and knife', 'ax', 'brick',
       'baseball bat', 'hand torch', 'chain saw', 'garden tool',
       'pair of scissors', 'pole', 'pick-axe', 'flashlight', 'baton',
       'spear', 'chair', 'pitchfork', 'hatchet and gun', 'rock',
       'piece of wood', 'pipe', 'glass shard', 'motorcycle',
       'pepper spray', 'metal rake', 'crowbar', 'oar', 'machete and gun',
       'tire iron', 'air conditioner', 'pole and knife',
       'baseball bat and bottle', 'fireworks', 'pen', 'chainsaw',
       'gun and sword', 'gun and car', 'claimed to be armed',
       'incendiary device', 'samurai sword', 'bow and arrow',
       'gun and vehicle', 'vehicle and gun', 'wrench', 'walking stick',
       'barstool', 'BB gun and vehicle', 'wasp spray', 'air pistol',
       'Airsoft pistol', 'baseball bat and knife', 'vehicle and machete',
       'ice pick', 'car, knife and mace', 'bottle', 'gun and machete',
       'microphone', 'knife and vehicle', 'machete and hammer', 'stake',
       'incendiary weapon', 'ax and machete', 'hammer and garden tool',
       'flare gun', 'knife, hammer and gasoline can'], dtype=object)

In [28]:
# Creating a column of weapon

df_shoot_2.loc[df_shoot_2['armed'] == 'unarmed', 'weapon'] = 1
df_shoot_2.loc[(df_shoot_2['armed'] == 'undetermined') | (df_shoot_2['armed'] == 'unknown weapon'),'weapon'] = 2
df_shoot_2.loc[(df_shoot_2['armed'] == 'gun')| (df_shoot_2['armed'] == 'nail gun') | (df_shoot_2['armed'] == 'pellet gun') |(df_shoot_2['armed'] == 'bean-bag gun') |(df_shoot_2['armed'] == 'air pistol') |(df_shoot_2['armed'] == 'Airsoft pistol') | (df_shoot_2['armed'] == 'flare gun'), 'weapon'] = 3
df_shoot_2.loc[(df_shoot_2['armed'] == 'knife'), 'weapon'] = 4 
df_shoot_2.loc[(df_shoot_2['armed'] == 'vehicle') | (df_shoot_2['armed'] == 'motorcycle'), 'weapon'] = 5
df_shoot_2.loc[(df_shoot_2['armed'] == 'shovel') | (df_shoot_2['armed'] == 'hatchet') | (df_shoot_2['armed'] == 'matchete') | (df_shoot_2['armed'] == 'box cutter') |
              (df_shoot_2['armed'] == 'screwdriver') | (df_shoot_2['armed'] == 'cordless drill') | (df_shoot_2['armed'] == 'ax') | (df_shoot_2['armed'] == 'chainsaw') | (df_shoot_2['armed'] == 'garden tool') |
              (df_shoot_2['armed'] == 'pick-axe') | (df_shoot_2['armed'] == 'pitchfork') | (df_shoot_2['armed'] == 'crowbar') | (df_shoot_2['armed'] == 'wrench') |(df_shoot_2['armed'] == 'ice pick'), 'weapon'] = 6
df_shoot_2.loc(df_shoot_2['armed'] == 'guns and explosives' | (df_shoot_2['armed'] == 'baseball bat and fireplace poker') | (df_shoot_2['armed'] == 'gun and knife') | (df_shoot_2['armed'] == 'machete and gun') |
               (df_shoot_2['armed'] == 'hatchet and gun') | (df_shoot_2['armed'] == 'pole and knife') | (df_shoot_2['armed'] == 'baseball bat and bottle') | (df_shoot_2['armed'] == 'gun and sword') | (df_shoot_2['armed'] == 'gun and car') | (df_shoot_2['armed'] == 'gun and vehicle') | (df_shoot_2['armed'] == 'vehicle and gun') |
               (df_shoot_2['armed'] == 'BB gun and vehicle') | (df_shoot_2['armed'] == 'baseball bat and knife') | (df_shoot_2['armed'] == 'vehicle and machete') | (df_shoot_2['armed'] == 'knife and vehicle') |
               (df_shoot_2['armed'] == 'machete and hammer') | (df_shoot_2['armed'] == 'ax and machete') |(df_shoot_2['armed'] == 'hammer and garden tool'), 'weapon') = 7
df_shoot_2.loc[(df_shoot_2['armed'] == 'knife, hammer and gasoline can' | (df_shoot_2['armed'] == 'car, knife and mace') |), 'weapon'] = 8
df_shoot_2.loc[(df_shoot_2['armed'] == 'sword') | (df_shoot_2['armed'] == 'lawn mower blade') | (df_shoot_2['armed'] == 'sharp object') |
               (df_shoot_2['armed'] == 'railroad spikes') | (df_shoot_2['armed'] == 'straight edge razor') | (df_shoot_2['armed'] == 'pair of scissors') | (df_shoot_2['armed'] == 'spear'), 'weapon'] = 9
df_shoot_2.loc[(df_shoot_2['armed'] == 'metal object') | (df_shoot_2['armed'] == 'metal pole') | (df_shoot_2['armed'] == 'metal pipe') | (df_shoot_2['armed'] == 'metal hand tool') | (df_shoot_2['armed'] == 'metal stick') | (df_shoot_2['armed'] == 'metal rake'), 'weapon'] = 10
df_shoot_2.loc[(df_shoot_2['armed'] == 'toy weapon') | (df_shoot_2['armed'] == 'flagpole') |(df_shoot_2['armed'] == 'crossbow') | (df_shoot_2['armed'] == 'taser') | (df_shoot_2['armed'] == 'blunt object') | (df_shoot_2['armed'] == 'meat cleaver') |
               (df_shoot_2['armed'] == 'carjack') | (df_shoot_2['armed'] == 'chain') | (df_shoot_2['armed'] == "contractor's level") | (df_shoot_2['armed'] == 'stapler') | (df_shoot_2['armed'] == 'beer bottle') | (df_shoot_2['armed'] == 'binoculars') | (df_shoot_2['armed'] == 'brick') |(df_shoot_2['armed'] == 'baseball bat') |
               (df_shoot_2['armed'] == 'hand torch') | (df_shoot_2['armed'] == 'pole') | (df_shoot_2['armed'] == 'flashlight') | (df_shoot_2['armed'] == 'chair') | (df_shoot_2['armed'] == 'rock') | 
               (df_shoot_2['armed'] == 'piece of wood') | (df_shoot_2['armed'] == 'glass shard') | (df_shoot_2['armed'] == 'pepper spray') | (df_shoot_2['armed'] == 'baton') | (df_shoot_2['armed'] == 'oar') | (df_shoot_2['armed'] == 'tire iron') | (df_shoot_2['armed'] == 'air conditioner') |
               (df_shoot_2['armed'] == 'pipe') | (df_shoot_2['armed'] == 'fireworks') | (df_shoot_2['armed'] == 'pen') | (df_shoot_2['armed'] == 'claimed to be armed') | (df_shoot_2['armed'] == 'incendiary device') | (df_shoot_2['armed'] == 'bow and arrow') | (df_shoot_2['armed'] == 'walking stick') |
               (df_shoot_2['armed'] == 'barstool') | (df_shoot_2['armed'] == 'wasp spray') | (df_shoot_2['armed'] == 'bottle') | (df_shoot_2['armed'] == 'microphone'), 'weapon'] = 11

SyntaxError: cannot assign to function call (36128010.py, line 11)

## 6. Changing Variables to Numerical Values

In [29]:
df_shoot_2['gender'] = df_shoot_2['gender'].replace(['F','M'], [1,2])

In [30]:
# Checking that gender numerical value was changed

df_shoot_2

,id,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera,year,month,day,threat_level_2
0,1,2015-01-02,shot,gun,53.0,2.0,A,Shelton,WA,True,attack,Not fleeing,False,2015,1,2,2.0
1,2,2015-01-02,shot,gun,47.0,2.0,W,Aloha,OR,False,attack,Not fleeing,False,2015,1,2,2.0
2,3,2015-01-03,shot and Tasered,unarmed,23.0,2.0,H,Wichita,KS,False,other,Not fleeing,False,2015,1,3,1.0
3,4,2015-01-04,shot,toy weapon,32.0,2.0,W,San Francisco,CA,True,attack,Not fleeing,False,2015,1,4,2.0
4,5,2015-01-04,shot,nail gun,39.0,2.0,H,Evans,CO,False,attack,Not fleeing,False,2015,1,4,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7724,7725,2022-09-07,shot,screwdriver,NaN,2.0,NaN,Flagstaff,AZ,False,other,Foot,False,2022,9,7,1.0
7725,7726,2022-09-07,shot,gun,NaN,2.0,W,Springville,AL,False,attack,Car,False,2022,9,7,2.0
7726,7727,2022-09-07,shot,knife,61.0,2.0,B,St. Louis,MO,False,other,Not fleeing,False,2022,9,7,1.0
7727,7728,2022-09-07,shot,gun,27.0,2.0,NaN,Washington County,TN,False,attack,Other,False,2022,9,7,2.0
7728,7729,2022-09-07,shot,gun,30.0,2.0,NaN,Columbus,GA,False,attack,Foot,False,2022,9,7,2.0

In [31]:
# Checking datatypes

df_shoot_2.dtypes

id                                  int64
date                       datetime64[ns]
manner_of_death                    object
armed                              object
age                               float64
gender                            float64
race                               object
city                               object
state                              object
signs_of_mental_illness              bool
threat_level                       object
flee                               object
body_camera                          bool
year                                int64
month                               int64
day                                 int64
threat_level_2                    float64
dtype: object

In [32]:
# Checking what variables are being used in race column

df_shoot_2['race'].unique()

array(['A', 'W', 'H', 'B', 'O', nan, 'N'], dtype=object)

In [33]:
# Changing races from variables to name

df_shoot_2['race'] = df_shoot_2['race'].replace(['A','W','H','B','O','N'], ['Asian','White','Hispanic','Black','Other','Native'])

In [34]:
# Checking dataframe that replacement was successfully done

df_shoot_2

,id,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera,year,month,day,threat_level_2
0,1,2015-01-02,shot,gun,53.0,2.0,Asian,Shelton,WA,True,attack,Not fleeing,False,2015,1,2,2.0
1,2,2015-01-02,shot,gun,47.0,2.0,White,Aloha,OR,False,attack,Not fleeing,False,2015,1,2,2.0
2,3,2015-01-03,shot and Tasered,unarmed,23.0,2.0,Hispanic,Wichita,KS,False,other,Not fleeing,False,2015,1,3,1.0
3,4,2015-01-04,shot,toy weapon,32.0,2.0,White,San Francisco,CA,True,attack,Not fleeing,False,2015,1,4,2.0
4,5,2015-01-04,shot,nail gun,39.0,2.0,Hispanic,Evans,CO,False,attack,Not fleeing,False,2015,1,4,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7724,7725,2022-09-07,shot,screwdriver,NaN,2.0,NaN,Flagstaff,AZ,False,other,Foot,False,2022,9,7,1.0
7725,7726,2022-09-07,shot,gun,NaN,2.0,White,Springville,AL,False,attack,Car,False,2022,9,7,2.0
7726,7727,2022-09-07,shot,knife,61.0,2.0,Black,St. Louis,MO,False,other,Not fleeing,False,2022,9,7,1.0
7727,7728,2022-09-07,shot,gun,27.0,2.0,NaN,Washington County,TN,False,attack,Other,False,2022,9,7,2.0
7728,7729,2022-09-07,shot,gun,30.0,2.0,NaN,Columbus,GA,False,attack,Foot,False,2022,9,7,2.0

In [35]:
# Creating a new dataframe giving race column numerical values through get_dummies

us_shoot = pd.get_dummies(df_shoot_2, columns=['race'])
print(us_shoot)

        id       date   manner_of_death        armed   age  gender  \
0        1 2015-01-02              shot          gun  53.0     2.0
1        2 2015-01-02              shot          gun  47.0     2.0
2        3 2015-01-03  shot and Tasered      unarmed  23.0     2.0
3        4 2015-01-04              shot   toy weapon  32.0     2.0
4        5 2015-01-04              shot     nail gun  39.0     2.0
...    ...        ...               ...          ...   ...     ...
7724  7725 2022-09-07              shot  screwdriver   NaN     2.0
7725  7726 2022-09-07              shot          gun   NaN     2.0
7726  7727 2022-09-07              shot        knife  61.0     2.0
7727  7728 2022-09-07              shot          gun  27.0     2.0
7728  7729 2022-09-07              shot          gun  30.0     2.0

                   city state  signs_of_mental_illness threat_level  ...  \
0               Shelton    WA                     True       attack  ...
1                 Aloha    OR                    False       attack  ...
2               Wichita    KS                    False        other  ...
3         San Francisco    CA                     True       attack  ...
4                 Evans    CO                    False       attack  ...
...                 ...   ...                      ...          ...  ...
7724          Flagstaff    AZ                    False        other  ...
7725        Springville    AL                    False       attack  ...
7726          St. Louis    MO                    False        other  ...
7727  Washington County    TN                    False       attack  ...
7728           Columbus    GA                    False       attack  ...

      year  month  day  threat_level_2  race_Asian  race_Black  race_Hispanic  \
0     2015      1    2             2.0           1           0              0
1     2015      1    2             2.0           0           0              0
2     2015      1    3             1.0           0           0              1
3     2015      1    4             2.0           0           0              0
4     2015      1    4             2.0           0           0              1
...    ...    ...  ...             ...         ...         ...            ...
7724  2022      9    7             1.0           0           0              0
7725  2022      9    7             2.0           0           0              0
7726  2022      9    7             1.0           0           1              0
7727  2022      9    7             2.0           0           0              0
7728  2022      9    7             2.0           0           0              0

      race_Native  race_Other  race_White
0               0           0           0
1               0           0           1
2               0           0           0
3               0           0           1
4               0           0           0
...           ...         ...         ...
7724            0           0           0
7725            0           0           1
7726            0           0           0
7727            0           0           0
7728            0           0           0

[7729 rows x 22 columns]

In [36]:
# Checking us_shoot for new columns

us_shoot.head()

,id,date,manner_of_death,armed,age,gender,city,state,signs_of_mental_illness,threat_level,...,year,month,day,threat_level_2,race_Asian,race_Black,race_Hispanic,race_Native,race_Other,race_White
0,1,2015-01-02,shot,gun,53.0,2.0,Shelton,WA,True,attack,...,2015,1,2,2.0,1,0,0,0,0,0
1,2,2015-01-02,shot,gun,47.0,2.0,Aloha,OR,False,attack,...,2015,1,2,2.0,0,0,0,0,0,1
2,3,2015-01-03,shot and Tasered,unarmed,23.0,2.0,Wichita,KS,False,other,...,2015,1,3,1.0,0,0,1,0,0,0
3,4,2015-01-04,shot,toy weapon,32.0,2.0,San Francisco,CA,True,attack,...,2015,1,4,2.0,0,0,0,0,0,1
4,5,2015-01-04,shot,nail gun,39.0,2.0,Evans,CO,False,attack,...,2015,1,4,2.0,0,0,1,0,0,0

In [ ]:
# Note that race with NaN value does not have a column

## 7. Exporting Dataset

In [37]:
us_shoot.to_csv(os.path.join(path, 'Data', 'Prepared Data', 'us_shoot_clean.csv'))